*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    color: rgb(247, 247, 247);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
a{  font-size: 20px;
    color: white;
    margin: 10px;
    padding-left: 10px;
padding-right: 10px;}
img{
    float: right;
}
.zero{background:linear-gradient(300deg,rgb(111, 230, 230),rgb(40, 40, 150),rgb(165, 23, 165));

    background-size: cover;
    text-align: right;
    display: inline-block;
    /* background-position: center;
    align-items: center; */
    background-attachment: fixed;
    font-size: 30px;

}
.one{
    background: url(../pics/flume\ thumbnail_edited.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    font-size: 30px;
    
}
.two{
    background: url(../pics/flumesaynothing_edited.jpg);
    background-size: cover;
    background-position: left;
    align-items: left;
    text-align: center;
    background-attachment: fixed;
    font-size: 30px;
}
.three{
    background: url(../pics/Flume-rushing\ back\ thumbnail_edited.jpg);
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    font-size: 30px;
}
.four{
    background: url(../pics/hithisisflume.jpg);
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    font-size: 30px
}
.link{min-height: 0%;
    
    background-color: blueviolet;
    background: linear-gradient(rgb(173, 20, 46),orange);
    font-size: 30px;
}
